<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.estambreapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EstambreApp">
        <activity
            android:name=".impostor"
            android:exported="true" />
        <activity
            android:name=".mapNumbers"
            android:exported="true" />
        <activity
            android:name=".mazeCoins"
            android:exported="true" />
        <activity
            android:name=".ovejaNegra"
            android:exported="true" />
        <activity
            android:name=".nextGame"
            android:exported="true" />
        <activity
            android:name=".gameInstructions"
            android:exported="true" />
        <activity
            android:name=".menuGames"
            android:exported="true" />
        <activity
            android:name=".activitiesMindfulness"
            android:exported="true" />
        <activity
            android:name=".mindfulnessHome"
            android:exported="true" />
        <activity
            android:name=".gamesHome"
            android:exported="true" />
        <activity
            android:name=".home"
            android:exported="true" />
        <activity
            android:name=".loadAplication"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>